.circle {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-image: url('circle.png');
    text-align: center;
}


.intro {
    /* display: inline-block; */
    max-width: 600px;

}

.guide p.intro {
    margin: 10;
    display: flex;
    align-items: center;
}

.about h2 {
    margin: 10;
    display: flex;
    align-items: center;
}

#map {
    width: 75%;
}

/* #statspanel {
    width: 25%;
    padding: 20px;
    float: right;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display:none;
} */

#defaultpanel {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: small;
}


#statspanel {
    display: none;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    flex-direction: column;
    font-size: small;
}


#highway-chart {
    display: none;
    flex-direction: row;
    align-items: flex-end;
    height: 40px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0px;
}

.bar {
    margin: 0;
    height: 100%;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#moterBar {
    background-color: #53a8b6;
}

#pedestrianBar {
    background-color: #bbe4e9;
    /* bottom: 10px; */
}

#othersBar {
    background-color: #79c2d0;
}

.bar p {
    /* position: absolute; */
    bottom: -10px;
    display: flex;
    color: black;
    font-size: 12px;
}

#barLegend {
    justify-content: center;
    display: none;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.my_polyline {
    stroke: red;
    fill: red;
    fill-opacity: 0.5;
}

.side p {
    color: #666;
}

img {
    margin-left: 5px;
    margin-right: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: block;
}