.circle {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-image: url('circle.png');
    text-align: center;
}

#map, #panel {
            display: inline-block;
            vertical-align: top;
        }


    #map {
        width: 75%;
    }

    #panel {
        width: 25%;
        padding: 20px;
        float:right;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    #loading-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    .my_polyline {
        stroke: red;
        fill: red;
        fill-opacity: 0.5;
    }
