
#loading-indicator {
    display: none;
    /* Hide the loading indicator by default */
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    font-size: 6vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    top:45px;
    left:0
}

.side {
    padding-top: 5px;
    order: 1;

}

#map {
    width: 75%;
    top: 45px;
    z-index: -1;
    position: absolute;
    padding-top: 20px;
    left: 10px;
    bottom:10px;
}

#header-container a {
    color: grey;
    font-size: large;
    font-family: Arial;
    text-decoration: none;
}

#header-container {
    /* border-bottom: 3px solid lightgray; */
    padding-bottom: 3vh;
    text-align: right;
    /* width: 25%;
    right: 0;
    top: 0; */
    /* position: absolute; */
    display: flex;
    height: 10px;
}
nav {
    display: inline-block;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    /* flex: 0 0 25%; */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline !important;
    color: black !important;
}

#closePanelBtn {
    background-color: none;
    border: none;
    font-size: 1vw;
    position: absolute;
    right: 10px;
    top: 45px;
}

.circle {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-image: url('circle.png');
    text-align: center;
}

.station-popup .leaflet-popup {
    margin: 0px;
}

.station-popup .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.1);
    /* background: transparent; */
    border-radius: 5px;
    box-shadow: none;
    border-radius: 5px;
}

.station-popup .leaflet-popup-content {
    margin: 0px;
    padding: 2px;
    box-shadow: none;
    height: 32px
}
.station-popup .leaflet-popup-tip-container {
    margin-bottom: 0px;
    box-shadow: none;
}
.station-popup .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
}


.intro {
    /* display: inline-block; */
    max-width: 600px;
    margin: 10px;

}

.guide p.intro {
    margin: 10;
    display: flex;
    align-items: center;
}

.about h2 {
    margin: 10;
    display: flex;
    align-items: center;
}




/* #statspanel {
    width: 25%;
    padding: 20px;
    float: right;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display:none;
} */

#defaultpanel {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: small;
}


#statspanel {
    display: none;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    /* flex-direction: column; */
    font-size: small;
    background-color: white;
}


#highway-chart {
    display: none;
    flex-direction: row;
    align-items: flex-end;
    height: 40px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0px;
}

.bar {
    margin: 0;
    height: 100%;
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#moterBar {
    background-color: #53a8b6;
}

#pedestrianBar {
    background-color: #bbe4e9;
    /* bottom: 10px; */
}

#othersBar {
    background-color: #79c2d0;
}

.bar p {
    /* position: absolute; */
    bottom: -10px;
    display: flex;
    color: black;
    font-size: 12px;
}

#barLegend {
    justify-content: center;
    display: none;
}

.my_polyline {
    stroke: red;
    fill: red;
    fill-opacity: 0.5;
}

.side {
    padding-left:25px;
}

.side p {
    color: #666;
}

.downloadToFile {
    display: flex;
    /* justify-content: center; */
}

button {
    color: grey;
}

.clearContainer {
    margin-top:0;
    display: flex;
    justify-content: center;
}

#clearPOI {
    /* color: white; */
    font-size: larger;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid #F0B49B;
    background-color: #F8E3DA;
}

#clearPOI:hover {
    color: white;
    background-color: #CB402D;
}

img {
    margin-left: 5px;
    margin-right: 5px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

button {
    font-size: 11px;
}


.footerContent {
    text-align: right;
    margin: 10;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 0.6vw;
    font-family: Arial;
    font-style: italic;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#markdown-content {
    font-family: sans-serif;
    color: grey;
    /* font-size:smaller; */
}

#markdown-content h3 {
    color: black;
}

#markdown-content table, th, td {
    border: 0.5px solid;
    border-collapse: collapse;
    border-color: grey;
}